@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "emerald";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: #e6f4f1;
  --color-base-200: oklch(91.00% 0.025 183.98);
  --color-base-300: oklch(84.00% 0.022 183.98);
  --color-base-content: oklch(35.519% 0.032 262.988);
  --color-primary: #50c6c9;
  --color-primary-content: oklch(33.387% 0.04 162.24);
  --color-secondary: #00aab3;
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: #eefcfc;
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: #e6f4f1;
  --color-neutral-content: oklch(98.462% 0.001 247.838);
  --color-info: #005c6a;
  --color-info-content: oklch(0% 0 0);
  --color-success: #00b388;
  --color-success-content: oklch(0% 0 0);
  --color-warning: #8a1e00;
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(36.82% 0.163 27.81);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.3125rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
};

